@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

/*Small portrait phones*/
@media (max-width: 575.98px) {
   .Father {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .Main {
      border-radius: 40px;
      display: flex;
      background: #ffffff;
      width: 80vw;
      height: 50vh;
      justify-content: center;
      align-items: center;
   }

   .Login {
      font-family: 'Jost', sans-serif;
   }

   .LoginDiv {
      display: flex;
      justify-content: center;
   }

   .Button {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
   }

   .Form {
      display: flex;
      justify-content: center;
   }
}

/* Small phones with landscape */
@media (max-width: 767.98px) and (min-width: 575.98px) {
   .Father {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .Main {
      border-radius: 40px;
      display: flex;
      background: #ffffff;
      width: 80vw;
      height: 80vh;
      justify-content: center;
      align-items: center;
   }

   .Login {
      font-size: 1.5rem;
      font-family: 'Jost', sans-serif;
   }

   .LoginDiv {
      display: flex;
      justify-content: center;
   }

   .Button {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
   }

   .Form {
      display: flex;
      justify-content: center;
   }
}

/* Medium pads */
@media (max-width: 991.98px) and (min-width: 767.98px){
   .Father {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .Main {
      border-radius: 40px;
      display: flex;
      background: #ffffff;
      width: 80vw;
      height: 50vh;
      justify-content: center;
      align-items: center;
   }

   .Login {
      font-size: 3rem;
      font-family: 'Jost', sans-serif;
   }

   .LoginDiv {
      display: flex;
      justify-content: center;
   }

   .Button {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
   }

   .Form {
      display: flex;
      justify-content: center;
   }
}

/* Large computers */
@media (max-width: 1199.98px) and (min-width: 991.98px) {
   .Father {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .Main {
      border-radius: 40px;
      display: flex;
      background: #ffffff;
      width: 80vw;
      height: 50vh;
      justify-content: center;
      align-items: center;
   }

   .Login {
      font-size: 3rem;
      font-family: 'Jost', sans-serif;
   }

   .LoginDiv {
      display: flex;
      justify-content: center;
   }

   .Button {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
   }

   .Form {
      display: flex;
      justify-content: center;
   }
}

/* X-Large computers */
@media (max-width: 1399.98px) and (min-width: 1199.98px) {
   .Father {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .Main {
      border-radius: 40px;
      display: flex;
      background: #ffffff;
      width: 70vw;
      height: 70vh;
      justify-content: center;
      align-items: center;
   }

   .Login {
      font-size: 3rem;
      font-family: 'Jost', sans-serif;
   }

   .LoginDiv {
      display: flex;
      justify-content: center;
   }

   .Button {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
   }

   .Form {
      display: flex;
      justify-content: center;
   }
}

/* XX-Large computers */
@media (min-width: 1399.98px) {
   .Father {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .Main {
      border-radius: 40px;
      display: flex;
      background: #ffffff;
      width: 80vw;
      height: 80vh;
      justify-content: center;
      align-items: center;
   }

   .Login {
      font-size: 3rem;
      font-family: 'Jost', sans-serif;
   }

   .LoginDiv {
      display: flex;
      justify-content: center;
   }

   .Button {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
   }

   .Form {
      display: flex;
      justify-content: center;
   }
}
