.Father {
    margin-top: 5vh;
    margin-left: 5vw;
}

.Pagination {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.PaginationTop {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.Autocomplete {
    display: flex;
    justify-content: center;
}

.Orders {
    margin-top: 5vh;
}

.Wrap {
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
}
