.Father {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}

.Img {
    width: 10%;
    height: auto;
}

.Home {
    margin-top: 1vh;
}

.HomeText {
    display: flex;
    justify-content: center;
}

.ImgDiv {
    display: flex;
    justify-content: center;
}
